:global {
  @keyframes spinner-line-fade-default {
    0%,
    100% {
      opacity: 0.22;
    }
    1% {
      opacity: 1;
    }
  }
  .pi-main-container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .pi-main-container .pi-center-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 5px;
    margin: auto;
    background-color: rgba(0, 0, 255, 0.5);
    z-index: 100;
  }
  .pi-main-container .pi-attribution {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 4px;
    color: #444;
    text-align: right;
    font-size: 11px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.5);
  }
  .pi-main-container .pi-attribution a {
    color: #444;
  }
  .pi-main-container .pi-maps-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .pi-main-container .pi-billboard-screen-svg-icons {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }
  .pi-main-container .pi-zoomButton {
    display: none;
    position: absolute;
    right: 15px;
    top: 20px;
    height: 36px;
    width: 42.5px;
    background-color: #fbfcfd;
    outline: none;
    margin: 0;
    padding: 0;
    line-height: 32px;
    cursor: pointer;
    color: #868e9b;
    z-index: 99;
    border: solid 1px #edf0f4;
  }
  .pi-main-container .pi-zoomUp {
    right: 56px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .pi-main-container .pi-zoomButton[disabled] {
    background-color: #eaecee;
  }
  .pi-main-container .pi-zoomButton[disabled] .pi-button-text {
    opacity: 0.28;
  }
  .pi-main-container .pi-zoomDown {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  .pi-main-container .pi-compass {
    display: none;
    position: absolute;
    right: 108px;
    top: 20px;
    height: 36px;
    width: 36px;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 99;
    border: solid 1px #edf0f4;
    background-color: #fbfcfd;
    border-radius: 20px;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDEyIDI0Ij4KICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTYgLTEwKSI+CiAgICA8cGF0aCBkPSJNNjE1LDYwN2wtNiwxMmgxMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01OTMgLTU5NykiIGZpbGw9IiNmNTM3MzciLz4KICAgIDxwYXRoIGQ9Ik02MTUsNjE3aC02bDYsMTIsNi0xMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01OTMgLTU5NSkiIGZpbGw9IiNhM2E5YjMiLz4KICA8L2c+Cjwvc3ZnPgo=');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
  }
  .pi-main-container .pi-button-text {
    font-size: 30px;
    font-weight: 300;
    height: 36px;
    line-height: 29px;
  }
  .pi-main-container .pi-zone-select {
    cursor: pointer;
    padding-right: 15px;
  }
  .pi-main-container .pi-selected-zone {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  .pi-main-container .pi-caret {
    border-bottom: 7px solid #868e9b;
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: '';
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    transform: rotate(180deg);
    position: absolute;
    top: 14px;
    right: 15px;
  }
  .pi-main-container .pi-dropdown-menu {
    border-radius: 10px;
    background-color: #fbfcfd;
    position: absolute;
    list-style: none;
    padding-left: 0;
    width: 200px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    border: solid 1px #edf0f4;
    z-index: 99;
  }
  .pi-main-container .pi-zone-selector {
    visibility: hidden;
    position: absolute;
    border: solid 1px #edf0f4;
    background-color: #fbfcfd;
    cursor: pointer;
    min-width: 150px;
    color: #868e9b;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: 2px 15px;
    border-radius: 18px;
    line-height: 30px;
    z-index: 99;
  }
  .pi-main-container .pi-zone-selector .pi-dropdown-menu {
    display: none;
    border-bottom: 1px solid #edf0f4;
    color: #868e9b;
    position: absolute;
    font-size: 14px;
  }
  .pi-main-container
    .pi-zone-selector
    .pi-dropdown-menu
    .pi-dropdown-list:not(:last-child) {
    border-bottom: 1px solid #edf0f4;
  }
  .pi-main-container .pi-zone-selector .pi-dropdown-menu .pi-dropdown-list {
    padding: 10px;
    position: relative;
    font-size: 14px;
  }
  .pi-main-container
    .pi-zone-selector
    .pi-dropdown-menu
    .pi-dropdown-list[active] {
    font-weight: 600;
    color: #17a7e9;
    padding-right: 30px;
  }
  .pi-main-container
    .pi-zone-selector
    .pi-dropdown-menu
    .pi-dropdown-list[active]
    .pi-checkMark {
    display: inline-block;
  }
  .pi-main-container .pi-zone-selector .pi-dropdown-menu[active] {
    display: block;
  }
  .pi-main-container .pi-zone-selector .pi-dropdown-menu.pi-vertical-top {
    top: -17px;
  }
  .pi-main-container .pi-zone-selector .pi-dropdown-menu.pi-vertical-bottom {
    bottom: -17px;
  }
  .pi-main-container .pi-zone-selector .pi-dropdown-menu.pi-horizontal-left {
    left: -2px;
  }
  .pi-main-container .pi-zone-selector .pi-dropdown-menu.pi-horizontal-right {
    right: -2px;
  }
  .pi-main-container .pi-zone-selector.pi-top-left {
    top: 20px;
    left: 20px;
  }
  .pi-main-container .pi-zone-selector.pi-top-right {
    top: 20px;
    right: 110px;
  }
  .pi-main-container .pi-zone-selector.pi-top-right-with-compass {
    top: 20px;
    right: 155px;
  }
  .pi-main-container .pi-zone-selector.pi-bottom-left {
    bottom: 20px;
    left: 20px;
  }
  .pi-main-container .pi-zone-selector.pi-bottom-right {
    bottom: 30px;
    right: 20px;
  }
  .pi-main-container .pi-checkMark {
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    display: inline-block;
    right: 8px;
    top: 7px;
    position: absolute;
    display: none;
  }
  .pi-main-container .pi-checkMark-stem {
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: #17a7e9;
    left: 15px;
    top: 7px;
  }
  .pi-main-container .pi-checkMark-kick {
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: #17a7e9;
    left: 8px;
    top: 23px;
  }
  .pi-main-container .bb-text {
    font-weight: 600;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    max-width: 10em;
  }
  .pi-main-container .windows-browser .pi-plus {
    margin-bottom: -7px;
  }
  .pi-main-container g#Copyright {
    display: none;
  }
  .pi-main-container .pi-blue-dot-location {
    fill: #4285f4;
    stroke: white;
  }
  .pi-main-container .pi-blue-dot-accuracy {
    fill: #4285f4;
    opacity: 0.3;
  }
}
